* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 40px;
    animation: color 5s linear infinite;
}

@keyframes color {
    0% {
        color: blueviolet;
        transform: scale(1.1);
    }

    10% {
        color: rgb(228, 57, 18);
        transform: scale(1.2);

    }

    20% {
        color: rgb(168, 228, 18);
        transform: scale(1.3);


    }

    30% {
        color: rgb(18, 140, 228);
        transform: scale(1.4);


    }

    40% {
        color: rgb(57, 18, 228);
        transform: scale(1.5);


    }

    50% {
        color: rgb(250, 235, 24);
        transform: scale(1.6);


    }

    60% {
        color: rgb(228, 18, 196);
        transform: scale(1.7);

    }

    70% {
        color: rgb(228, 18, 18);
        transform: scale(1.8);

    }

    80% {
        color: rgb(18, 228, 50);
        transform: scale(1.9);

    }

    90% {
        color: rgb(18, 228, 228);
        transform: scale(2);

    }

    100% {
        color: rgb(228, 18, 179);
        transform: scale(2.1);


    }
}