body {
    background-color: #e5e5e5;
}

.card {
    width: 15%;
    position: relative;
    padding-inline: 30px;
    background-color: #fff;
    padding-block: 30px;
    border-radius: 10px;
}

.card-icon {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 10px;
    margin-top: 30px;
}

.card-img {
    padding-top: 10px;
    width: 100%;
    object-fit: cover;
}

.permission {
    background-color: #A47C7D;
    padding: 3px;
    padding-inline: 5px;
    border-radius: 5px;
    width: 40px;
    color: #fff;
    margin-bottom: 10px;
}

.category {
    width: 50px;
    background-color: #F7E6CB;
    color: #eaa74f;
    padding: 3px;
    border-radius: 5px;
    margin-top: 5px;
}

.red {
    color: #982237;
    font-weight: 700;
    font-size: 27px;
    font-family: "Quicksand", sans-serif;
}

.grey {
    color: #AFB0BA;
    font-weight: 700;
    font-size: 20px;
    text-decoration: line-through;
    font-family: "Quicksand", sans-serif;
}

.material-symbols-outlined {
    font-size: 15px !important;
}

.icon1 {
    color: #982237;
    font-weight: bold !important;
}